div(class="ui celled grid")
    div(class="ten wide middle column" data-hook="leftColumn")
        div(data-hook="menu")
        div(data-hook="editor")
        div(data-hook="entityList")
    div(class="six wide right column" data-hook="rightColumn")
        div(data-hook="entityInfo")
        div(data-hook="visualInfo")

    div(data-hook="previewPopups")