div(class='ui dropdown' data-hook='dropBase')
    i( class='cloud download icon')
    div(class='text')
        | Remote File
    i( class='icon dropdown')
    div(data-hook='dropItems' class='menu')
