div.ui.two.columns.grid
    div.column
        strong State:
        span(class="ui label" data-hook="assetState")
    div.column
        div(class="ui mini button" data-hook="assetControlBtn") ControlButton