div(id='editorBlock' class='ui dimmable ')
     div(class='ui dimmer')
        div(id='editorBlockDimmerText' class='ui text loader') Processing...
     pre( id='editorItem' contentEditable="true" spellcheck='false' lang='en' data-hook="editor")

