div.card.kbitem
     div.content.segment.blue
         span.ui.right.ribbon.label.blue Preferred
         span.header #{model.bestText}
         span.meta #{model.data.type}
         div.description #{model.descPrev()}
         span.extra #{model.data.id}